.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  display: flex;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  align-items: center;
  gap: 8px;
}

.title {
  font-weight: 700;
}
