.color-wrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.color-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.color-item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.active {
  border: 2px solid red;
}

.title {
  font-weight: 700;
}

.color-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}